html {
    height: 100%;
  }
  
  body {
    background-color: #f0f0f0; /* Vaaleanharmaa tausta */
    color: #333; /* Tummanharmaa teksti */
    font-family: Arial, sans-serif; /* Fontti */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  main {
    text-align: center;
    background-color: #fff; /* Valkoinen tausta */
    padding: 20px; /* Lisätään väliä sisältöön */
    border-radius: 10px; /* Pyöristetään reunat */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Varjo */
  }
  
  h1 {
    color: #ff6600; /* Oranssi otsikko */
  }
  
  p {
    color: #666; /* Harmaa kappaleteksti */
  }
  
  a {
    color: #0099ff; /* Sininen linkki */
    text-decoration: none; /* Poistetaan alleviivaus */
  }
  
  a:hover {
    text-decoration: underline; /* Korostetaan linkkiä hiiren ollessa päällä */
  }
  

  #datetime {
    background-color: white;
    width: 300px;
    margin: auto;
    border: 1px solid grey;
  }